.jumbotron {
  animation: fadeIn 1s ease-in-out; // Add fadeIn animation
  border-radius: 10px; // Rounded corners
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style-type: circle; // Remove default list style
}

li {
  padding: 3px 0; // Add spacing between list items
}

.button {
  border-radius: 10px !important;
}
