{% extends "layout.html" %}
<!-- Site Title -->
{% block title %} Home {% endblock %}

<!-- Body Content -->
{% block body %}
<!-- Navbar Starts -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#"><strong class="text-primary">Phish Master</strong></a>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <a class="btn btn-primary btn-sm ms-3 button" href="/login">Login</a>
    </div>
  </div>
</nav>

<!-- Navbar Ends -->

<!-- Content Starts -->
<div class="container mt-4">
  <div class="jumbotron text-light">
    <h1 class="display-2 text-center">Welcome to <strong class="text-primary">Phish Master</strong></h1>
    <p class="lead text-center">Empowering you to defend against phishing attacks.</p>
    <hr class="my-4">
    <h2 class="text-light">What is Phishing?</h2>
    <p class="text-light">Phishing is a type of social engineering attack often used to steal user data, including login
      credentials and
      credit card numbers. It occurs when an attacker, masquerading as a trusted entity, dupes a victim into opening an
      email, instant message, or text message.</p>
    <h2 class="text-light">Disclaimer</h2>
    <p class="text-light">Misuse of this tool for any illegal or unethical activities is strictly prohibited. Phish
      Master is designed for
      educational purposes only to help individuals and organizations learn how to protect themselves against phishing
      attacks.</p>
    <h2 class="text-light">Features of Phish Master</h2>
    <ul class="text-light">
      <li><strong>Real-time Phishing Detection:</strong> Phish Master uses advanced algorithms to detect and block
        phishing attempts in real-time.</li>
      <li><strong>Customizable Phishing Campaigns 🎯:</strong> Easily create and customize phishing emails and web
        pages.</li>
      <li><strong>Template Library 📚:</strong> Access a variety of pre-made templates for different phishing scenarios.
      </li>
      <li><strong>Interaction Tracking 🕵️:</strong> Monitor and log interactions to analyze the effectiveness of your
        campaigns.</li>
      <li><strong>Analytics Dashboard 📊:</strong> View detailed reports and statistics on campaign performance.</li>
      <li><strong>Scheduling Campaigns 🗓️:</strong> Schedule campaigns to run at specific times for more realistic
        simulations.</li>
    </ul>
  </div>
</div>
<!-- Content Ends -->
{% endblock %}